.main-div{
    margin-top: 50px;
}

.hero-title{
    text-align: center;
    margin-left: 30px;
    padding-right: 30px;
}

.hero-title div p {
    color: rgb(84, 84, 84);
}

.sub-input{
    margin-top: 15px;
    margin-bottom: 5px;
    height: 40px;
    border: 1.3px solid rgb(200, 200, 200);
    border-radius: 5px;
    padding-left: 15px;
    
}

.subscribe-button{
    width: 100px;
    margin: 0 auto;
}

.card {
    box-sizing: border-box;
    width: 190px;
    height: 254px;
    border: 1px solid rgb(158, 158, 158);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    
  }
  
  .card:hover {
    border: 1px solid rgb(17, 35, 234);
    transform: scale(1.05);
  }
  
  .card:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }

  .card-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px 20px;
    justify-content: center;
    align-items: center;
  }